name: MSO_E5_Dev_AutoRenew

on:
  workflow_dispatch:
  release:
    types: [published]
  push:
    tags:
      - 'v*'
  schedule:
    - cron: "10 */2 * * *"
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-latest
    if: (github.event.repository.owner.id == github.event.sender.id) || ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    name: Build and call API
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: true
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
          check-latest: true

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run API Calls
        env:
          CONFIG_ID: ${{ secrets.CONFIG_ID }}
          CONFIG_KEY: ${{ secrets.CONFIG_KEY }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
        run: |
          echo "$(date +"%Y-%m-%d %H:%M:%S") begin" > time.log
          python3 main.py

      - name: Commit new refresh token if updated
        if: success()
        run: |
          if [ -f Secret.txt ]; then
            git config --global user.email "rahulfacebookinsta0@gmail.com"
            git config --global user.name "Rahul"
            git add Secret.txt
            git commit -m "Update new refresh token with MSO_E5_Dev_AutoRenew"
          fi

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
